<!--
Author. HyunSang Park <me@hyunsang.dev>
Updated 2023.11.17
-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if page.title == "Home" %}
    {{ site.title }}{% if site.tagline %} - {{ site.tagline }}{% endif %}
    {% else %}
    {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>