article{
    line-height: 1.5rem;
    .post-top{
        padding-top: 1rem;
        padding-bottom: 1rem;
        h1{
            font-size: 30px;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
    h2, h3 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    h2 {
        font-size: 23px;
        font-weight: bold;
    }
    h3{
        font-size: 20px;
        font-weight: bold;
    }
    li {
        margin-left: 0.3rem;
        padding-left: 0.3rem;
        list-style: inside;
    }
    .highlight-yellow{
        background-color: #FFF681;
    }
    a {
        border-bottom: 0.1rem solid #000;
    }
    pre {
        background-color: none;
    }
    code {
        padding: 1rem;
    }
    margin-bottom: 5rem;
}